:root {
  --credit-color: #00b7ff;
  --big-type-color: #c4bcd2;
  --fossil-color: #78662F;
  --wild-color: #5E5E66;

  --wild-stroke: #1c1c22;
  --fossil-stroke: #372807;
  --big-type-stroke: #918aad;

  /* --credit-color: #2a39df; */
  /* --big-type-color: #fa6718; */
}

.fossil-by-wild-type {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20vmin;
  height: 36vmin;
  margin: auto;
  color: rgba(0, 0, 0, 0);
  transform: translate(-2px, 2px);
  mix-blend-mode: multiply;
}

.fossil-by-wild-type .fossil {
  font-family: "CCTV Medium";
  letter-spacing: -0.666vmin;

  text-shadow: 2px -2px 0 var(--fossil-color);
  -webkit-text-stroke: 1px var(--fossil-stroke);
}

.fossil-by-wild-type .by {
  font-family: "Helvetica Neue";
  letter-spacing: -0.666vmin;
  margin-top: -5vmin;

  text-shadow: 2px -2px 0 var(--fossil-color);
  -webkit-text-stroke: 1px var(--fossil-stroke);
}

.fossil-by-wild-type .wild-type,
.fossil-by-wild-type .plus {
  font-family: 'Miu Regular';
  letter-spacing: -0.166vmin;

  text-shadow: 2px -2px 0 var(--wild-color);
  -webkit-text-stroke: 1px var(--wild-stroke);
}

.body {
  /* margin: 0; */
}

.still {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.still img {
  max-height: 100%;
  opacity: 0.0;
  transition: opacity .25s ease-in-out;
}

.big-type div {
  color: rgba(0, 0, 0, 0);
  font-family: 'Displace 2.0';
  transform: translate(-2px, 2px);
  text-shadow: 2px -2px 0 var(--big-type-color);
  -webkit-text-stroke: 1px var(--big-type-stroke);
 
  /* color: var(--big-type-color);
  font-family: 'Displace 2.0'; */
}

.big-type .f37-large {
  font-family: 'F37 Jan', sans-serif;
}

.big-type-container {
  pointer-events: none;
}

.credits {
  position: relative;
  font-family: 'ITC Franklin Gothic Narrow';
}

.grid-container {
  z-index: 0;
  pointer-events: none;
}

.grid-container img {
  height: 100vh;
  width: 222vmin;
  max-height: 100vh;
  max-width: 222vmin;
  object-fit: cover;
}

.reverse-scroll {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}

.panel {
  width: 100%;
}

.off {
  display: none;
}

/* light mirrored text */
.two-column-light-backface div.lowercase,
.two-column-light-backface div.capitalized,
.title-section-light-backface div.lowercase,
.title-section-light-backface div.capitalized {
  color: #dff7ff !important;
}

.div-block-2 {
  pointer-events: none;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

/* Mobile Queries */
@media screen and (max-width: 479px) {
  .big-type-container {
    mix-blend-mode: multiply;
  }

  .big-type div {
    -webkit-text-stroke: .6px var(--big-type-stroke);
  }

  .fossil-by-wild-type {
    font-size: 20vmin;
    height: 40vmin;
  }
  .fossil-by-wild-type .fossil {
    -webkit-text-stroke: .6px var(--fossil-stroke);
  }
  
  .fossil-by-wild-type .by {
    -webkit-text-stroke: .6px var(--fossil-stroke);
  }
  
  .fossil-by-wild-type .wild-type,
  .fossil-by-wild-type .plus {
    -webkit-text-stroke: .6px var(--wild-stroke);
  }
}

@keyframes bounce {
  0% {
    transform: translate(6px, -6px);
  }
  50% {
    transform: translate(-6px, 6px);
  }
  100% {
    transform: translate(6px, -6px);
  }
}

@font-face {
  font-family: 'ITC Franklin Gothic Narrow';
  src: url('../fonts/ITCFranklinPro/FranklinNrrwITCPro-Med.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CCTV Medium';
  src: url('../fonts/CCTV_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Miu Regular';
  src: url('../fonts/Miu-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'F37 Jan';
  src: url('../fonts/F37Jan-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Displace 2.0';
  src: url('../fonts/Serebryakov---Displace-2.0-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}